@charset "utf-8";
.bg-fondo {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.66) 0%,rgba(255,138,128,0.87) 100%), url(../photos/WhatsApp%20Image%202025-08-18%20at%206.54.34%20PM.jpeg);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.66) 0%,rgba(255,138,128,0.87) 100%), url(../photos/WhatsApp%20Image%202025-08-18%20at%206.54.34%20PM.jpeg);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.66) 0%,rgba(255,138,128,0.87) 100%), url(../photos/WhatsApp%20Image%202025-08-18%20at%206.54.34%20PM.jpeg);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.66) 0%,rgba(255,138,128,0.87) 100%), url(../photos/WhatsApp%20Image%202025-08-18%20at%206.54.34%20PM.jpeg);
}
.bg-fondito {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.79) 0.41%,rgba(255,138,128,0.95) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.79) 0.41%,rgba(255,138,128,0.95) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.79) 0.41%,rgba(255,138,128,0.95) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.79) 0.41%,rgba(255,138,128,0.95) 100%);
}

.bg-letrafondo {
    color: #FFFFFF;
}
